.mainDiv{
    padding: 20px;


}
.secondDiv{
    background: #FFFFFF;

}
.topH2{
    font-family: Inter, sans-serif;
    font-size: 14px;
    font-weight: 700;
    line-height: 16.94px;
    letter-spacing: 0.1em;
    text-align: left;
    color: #6E6893;


}
.statusTab{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-bottom: 0;
    padding-bottom: 0;

}
.custom-divider-div{
    margin-top: -10px;
}
.custom-divider {
    border: none;
    border-top: 1px solid #C6C2DE;
    width: 100%;


}
.custom-divider-div2{
    margin-top: 20px;
    margin-bottom: -15px;
}
.custom-divider2{
    border: none;
    border-top: 1px solid #C6C2DE;
    width: 100%;
}

.vertical-line {
    width: 1px;
    background-color: #C6C2DE;
    height: 7%;
    position: absolute;

    top: 0;
    z-index: 1;
}
.vertical-line2{
    width: 1px; /* Width of the line */
    background-color: #C6C2DE; /* Color of the line */
    height: 100%; /* Full height of the parent container */
    position: absolute; /* Positioning context to place it correctly */
    right: 0; /* Align with the right side of the parent container */
    top: 0; /* Align with the top of the parent container */
    z-index: 1;
}


.secondDiv {
    position: relative; /* Make sure the parent has a positioning context */
}
.total {
    font-family: Inter;
    font-size: 14px;
    font-weight: 400;
    line-height: 16.94px;
    text-align: right;
    margin-top: 0;
    color: #25213B !important;
    margin-right: 9px;
}

.amount {
    color: #25213B !important;
    font-size: 18px;
    font-weight: 700;
    Line-height: 21.78px
}
.dollar{
    font-family: Inter;
    font-size: 18px;
    font-weight: 50;
    line-height: 21.78px;
    text-align: left;

}
.searchDiv{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 15px 20px 10px 20px;
}


.filter-container {
    display: flex;
    flex-direction: row;
   gap: 20px;
}
.no-records {
    text-align: center;
    color: gray;
    padding: 20px;
}
.payDuesButton{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 8px 50px 8px 50px;

    cursor: pointer;
    white-space: nowrap;
    border: 1px solid #8b83ba;
    border-radius: 4px;

    background: #6D5BD0;
    font-family: Inter, sans-serif;
    font-size: 16px;
    font-weight: 600;
    line-height: 19.36px;
    text-align: left;
    color: #FFFFFF;


}
table {
    border-collapse: collapse;
    width: 100%;
}

th, td {
    border: none;
    padding: 8px;
}

thead tr {
    border-bottom: 1px solid #C6C2DE;
    border-top: 1px solid #C6C2DE;
}

tbody tr {
    border-bottom: 2px solid #C6C2DE;
}


.row{
    font-family: Inter;
    font-size: 12px;
    font-weight: 600;
    line-height: 14.52px;
    letter-spacing: 0.05em;
    text-align: left;
    color:#6E6893;



}
.icon-cell {
    text-align: right;
}
.header-row {
    background-color: #F4F2FF;
}

table tr th:first-child, table tr td:first-child {
    border-left: 1px solid #C6C2DE;
}


table tr th:last-child, table tr td:last-child {
    border-right: 1px solid #C6C2DE;
}
.vertical{

}
